<div id="sect1"class="container">
  <header class="main-header-1">
      <div>
          <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">Welcome!</a>
          </div>
          <nav class="navigation">
              <a routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Cart</a>
              <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Log-out</a>
          </nav>
  </header>
<router-outlet></router-outlet>
<h1  style="text-align: center;color: black;">E-HealthCare</h1>
<div>
    <div class="doc" style="text-align:center;">
    <table border="5" class="table table-hover table-info" align="center" bordercolor="black" style="width: 1000px;">
        <tr style="font-family: 'Times New Roman', Times, serif;"> 
            
            <th>Medicine Name</th>
            <th>Mfd</th>
            <th>Type</th>
            <th>Price</th>
            <th>Description</th>
            <th>Exp.Date</th>
            <th>Status</th>
            <th>Proceed For Payment</th>
            <th>Add To Cart</th>
        </tr>
        <tr *ngFor="let Medicines of medicines " style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            
            <td>{{Medicines.medicineName}}</td>
            <td>{{Medicines.manufactureDate}}</td>
            <td>{{Medicines.type}}</td>
            <td>{{Medicines.price}}</td>
            <td>{{Medicines.description}}</td>
            <td>{{Medicines.expdate}}</td>
            <td>{{Medicines.status}}</td>
            <td> <a routerLink="/billing/{{Medicines.medicineId}}" class="button"> BUY NOW</a></td>
           <!--<td> <button (click)="addCart(cart.medicineId)" class="btn btn-danger">Delete</button></td> -->
            <td> <button (click)="addCart(Medicines.medicineId)" class="buttonon"> ADD TO CART </button></td>
          <!-- <td><button class="btn btn-danger" (click)="payment()">Book Medicine</button></td> -->
        </tr>
        </table>
        <!--<button class="dropdown-item" (click)="payment()">Proceed to checkout</button> -->
    </div>
    </div>
    </div>