<header class="main-header-1">
    <div>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">E-HealthCare</a>
    </div>
    <nav class="navigation">
        <a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Admin</a>
        <a routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">User</a>
        <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">About Us</a>
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items"> Contact Us</a> 
        
          
    </nav>
</header>

<router-outlet></router-outlet>


