<app-header></app-header>
<div id="sect1"></div>
<div class="container">
<router-outlet></router-outlet>


<div class="admin-main">
    
    
    <br><br><br><br><h2 style="color: rgb(14, 13, 13);font-weight: 2500; ">PLEASE LOG-IN TO PROCEED</h2><br>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="login-div" align="center">
        <table class="loginform">
            <tr>
                <td><label style="color: rgb(19, 17, 17)" for="username"><h3>User Name: </h3></label></td>
                <td><input type="UserName" id="username" name="username" 
                    class="searchTextField" placeholder="Enter Username" ngModel> 
                </td>	 
            </tr><br>
            <tr>
                <td><label style="color: rgb(8, 8, 8)" for="password"><h3>Password: </h3></label></td>
                <td><input type="password" id="password" name="password" 
                class="searchTextField" placeholder="Enter Password" ngModel>
            </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br>
                <input type="submit" value="Login" class="actionBtn"></td>
            </tr>
            </table>
        </div>
    </form> 
   
    </div>