
<div id="sect1"class="container">
<header class="main-header-1">
    <div>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="logo">E-HealthCare</a>
        </div>
        <nav class="navigation">
            <a routerLink="/addmedicine" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Add Medicines</a>
            <a routerLink="/viewcontactus" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Queries</a>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Log-out</a>
            
        </nav>
</header>
<router-outlet></router-outlet>
<h1  style="text-align: center;color: black;">ADMIN-OPERATIONS</h1>
<div >
    <div class="doc" style="text-align:center;" > 
    <table border="5" bgcolor="white" class="table table-hover table-info" align="center" bordercolor="black" style="width: 1000px;">
        <tr style="font-family: 'Times New Roman', Times, serif;"> 
            
            <th>Medicine Name</th>
            <th>MFD</th>
            <th>Type</th>
            <th>Price</th>
            <th>Description</th>
            <th>EXP</th>
            <th>Status</th>
            <th>Seller</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let Medicines of medicines" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            
            <td>{{Medicines.medicineName}}</td>
            <td>{{Medicines.manufactureDate}}</td>
            <td>{{Medicines.type}}</td>
            <td>{{Medicines.price}}</td>
            <td>{{Medicines.description}}</td>
            <td>{{Medicines.expdate}}</td>
            <td>{{Medicines.status}}</td>
            <td>{{Medicines.seller}}</td>
            <td> <a routerLink="/updatemedicine/{{Medicines.medicineId}}" class="button">UPDATE</a></td>
            <td> <button (click)="deleteM(Medicines.medicineId)" class="buttonon">DELETE</button></td>
             
        </tr>
        </table>
        <!--<button class="dropdown-item" (click)="payment()">Proceed to checkout</button> -->
    </div>
   
    </div>

    <!--<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="main-items">Logout</a>
    -->
    </div>
    <router-outlet></router-outlet>

